* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 
        1px 1px 3px rgba(0, 0, 0, 0.8), 
        0px 0px 20px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}

.top {
    display: flex;
    justify-content: space-between;
}

div#time-guidance {
    align-self: center;
    text-align: center;
    border-radius: 8px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p#time {
    font-weight: 900;
    font-size: 5rem;
}

p#temp {
    font-size: 2rem;
}

div#Weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div#nimaz-time {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 0.2em;
}
img#icon {
    width: 50px;
    height: 50px;
}

p#city {
    font-size: 1rem;
    flex-basis: 100%;
    text-align: center;
    margin-top: -100px;
}