* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-size: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.top {
    display: flex;
    justify-content: space-between;
}

div#time-guidance {
    align-self: center;
    text-align: center;
    font-size: 3rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}