* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 
        1px 1px 3px rgba(0, 0, 0, 0.8), 
        0px 0px 20px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}

.top {
    display: flex;
    justify-content: space-between;
}

div#time-guidance {
    align-self: center;
    text-align: center;
    font-size: 3rem;
    background: rgba(255, 255, 255, 0.2); /* Translucent white */
    backdrop-filter: blur(10px);          /* Blurs the nature background */
    border-radius: 8px;
    padding: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p#time, p#temp {
    font-weight: 900;
    font-size: 3rem;
}

div#Weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
div#weather-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p#city {
    font-size: 1rem;
    flex-basis: 100%;
    text-align: center;
    margin-top: -25px;
}